/*global*/
* {
    box-sizing: border-box;
}
/*fonts and colors*/

$font: 'Open Sans', sans-serif;
$font-special: 'Poppins', sans-serif;
$background: rgba(22, 160, 133,1.0);
$column: #fff;
$white: #fff;
$text: #2d3436;
$button: rgba(231, 76, 60,1.0);
$board: rgba(45, 52, 54, 0.5);
$add: #00b894;
$cardh: #00cec9;

/*mixins*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin width($width, $max-width) {
  width: $width;
  max-width: $max-width;
}
@mixin margin-padding ($margin, $padding) {
	margin: $margin;
	padding: $padding;
}

body {
	margin: 0;
	font-family: $font;
	background: url('https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
/*board*/
.board {
	@include width(100%, 1200px);
	margin: 0 auto;
	height: 120vh;
	background: $board;
	padding: 10px;
	@include border-radius(15px);
	h1 {
		margin-left: 20px;
		font-family: $font-special;
		color: $white;
		font-size: 70px;
	}
	.create-column {
		@include border-radius(10px);
		padding: 10px;
		border: $button;
		margin-left: 20px;
		text-align: center;
		width: 150px;
		height: 50px;
		font-size: 20px;
		background: $button;
		color: $white;
		transition: 0.3s;
		&:hover {
			background: $white;
			border: 2px solid $button;
			color: $button;
		}
	}
	.column-container {
		padding: 5px;
		.column {
			float: left;
			padding: 5px;
			margin: 10px;
			@include border-radius(10px);
			background: $column;
			width: 365px;
			min-height: 365px;
			@include border-radius(10px);
			position: relative;
			h2 {
				color: $text;
				font-size: 30px;
				text-align: center;
			}
			ul {
				color: $text;
				font-size: 20px;
				list-style: none;
			}
			.big {
				position: absolute;
				border: $button;
				right: 15px;
				bottom: 15px;
				@include border-radius(5px);
				width: 25px;
				height: 25px;
				background: $button;
				color: $white;
				transition: 0.3s;
				&:hover {
					background: $white;
					border: 2px solid $button;
					color: $button;
				}
			}
			.add-card {
				border: $add;
				position: absolute;
				right: 45px;
				bottom: 15px;
				float: right;
				@include border-radius(5px);
				width: 25px;
				height: 25px;
				background: $add;
				color: $white;
				transition: 0.3s;
				&:hover {
					background: $white;
					border: 2px solid $add;
					color: $add;
				}
			}
		}
		.card {
			@include border-radius(5px);
			position: relative;
			float: left;
			background: $background;
			padding: 5px;
			margin: 2px;
			max-width: 350px;
			p {
				padding: 3px;
				color: $white;
				font-size: 15px;
			}
			.small {
				position: absolute;
				top: 2px;
				right: 2px;
				width: 15px;
				height: 15px;
				color: $white;
				border: $background;
				background: inherit;
				transition: 0.3s;
				&:hover {
					color: $button;
				}
			}
		}
	}

}
